@charset "UTF-8";

body {
	color: beige;
	text-align: center;
	padding-top: 200px;
}

div {
	display: flex;
	justify-content: center;
	width: 75%;
	margin: 0 auto;
}

a {
	flex: 1;
	font-size: 2rem;
	text-decoration: none;
}